.css-4t3x6l-MuiPaper-root-MuiDrawer-paper{
    width: 20% !important;
    background-color: rgb(73, 73, 73) !important;
    color: white !important;
}
.css-1f57y8b{
    fill: white !important;
}